@import "./variables.css";

.linearSeparator.horizontal {
  width: 100%;
  height: 4px;
  background-color: var(--grey-separator);
}

.linearSeparator.vertical {
  width: 4px;
  background-color: var(--grey-separator);
}

.popupWrapper {
  background-color: #323264cc;
  inset: 0;
  position: fixed;
  width: 100%;
  height: 120%;
  z-index: 8;
}

.serviceCard {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.serviceCard .pic {
  width: 92px;
  height: 92px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin-bottom: 30px;
}

.serviceCard .title {
  margin-bottom: 15px;
}

.publicationCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.publicationCard img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.publicationCard .textBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 30px;
  border-radius: 0 0 8px 8px;
}

.publicationCard .date {
  color: var(--grey-text);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publicationCard .text {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.arrowLink {
  display: flex;
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: start;
  align-items: center;
  gap: 2px;
}

.arrowLink:hover svg path {
  stroke: var(--accent);
}
