@import "variables.css";
.header {
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  margin-bottom: 60px;
  line-height: normal;
}
.header .container {
  height: 66px;
  padding-left: 0;
  padding-right: 0;
  flex-flow: column wrap;
}
.header .container .logoBlock {
  flex-basis: 100%;
  justify-content: space-between;
}
.header .container .logoBlock .logo {
  gap: 4px;
}
.header .container .logoBlock .logo .slash {
  aspect-ratio: 0.45;
  height: 47px;
}
.header .container .logoBlock .logo .pageName {
  font-size: 36px;
  color: var(--main-regular);
}
.header .container .logoBlock .burger {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
}
.header .container .info {
  align-self: flex-end;
  height: 25px;
  margin-bottom: 16px;
  gap: 6px;
  justify-content: start;
  align-items: center;
}
.header .container .info .separator {
  width: 6px;
  height: 6px;
}
.header .container .info a {
  color: var(--grey-text);
}
.header .container .info .langBlock {
  list-style: none;
}
.header .container .info .langBlock .btn {
  display: block;
  width: 33px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
}
.header .container .info .langBlock .btn:hover {
  background-color: var(--grey-bg);
}
.header .container .info .langBlock .btn.active {
  background-color: var(--accent);
  color: #fff;
}
.header .container .info .tel {
  font-weight: 700;
}
.header .container .info .facebook {
  display: block;
}
.header .container .info .facebook:hover path {
  fill: var(--accent);
}
.header .container .headerNav {
  align-self: flex-end;
  height: 25px;
  font-weight: 700;
  text-align: center;
  gap: 15px;
  justify-content: start;
  align-items: center;
}
.header .container .headerNav .closeBtn {
  display: none;
}
.header .container .headerNav .active {
  color: var(--accent);
  position: relative;
}
.header .container .headerNav .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}
.header .container .headerNav a {
  position: relative;
}
.header .container .headerNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  margin-left: 50%;
  height: 2px;
  width: 0;
  background-color: var(--active-regular);
  transition: all 0.1s linear;
}
.header .container .headerNav a:hover {
  color: var(--active-regular);
}
.header .container .headerNav a:hover::after {
  width: 100%;
  margin-left: 0;
}
.header .container .headerNav.floating {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 10px;
  width: 95%;
  max-width: 400px;
  height: auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
  z-index: 10;
}
.header .container .headerNav.floating .closeBtn {
  display: block;
  align-self: flex-end;
  cursor: pointer;
}
.header .container .headerNav.floating .active {
  color: var(--accent);
}
.header .container .headerNav.floating .active::after {
  height: 0;
}
.header .container .headerNav.floating .navItem {
  background-color: var(--grey-bg);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 12px;
}
.header .container .headerNav.floating .navItem::after {
  height: 0;
}
.header .container .headerNav.floating a {
  color: var(--active-regular);
}
.header .container .headerNav.floating a:hover {
  color: var(--active-regular);
}
.header .container .headerNav.floating a:active {
  background-color: var(--grey-separator);
}
.header.dark {
  background-color: var(--main-regular);
  color: #fff;
}
.header.dark .container .logoBlock .logo svg path:not(:first-child) {
  fill: #fff;
}
.header.dark .container .logoBlock .logo .pageName {
  color: #fff;
}
.header.dark .container .logoBlock .burger path {
  stroke: #fff;
}
.header.dark .container .logoBlock .burger:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.header.dark .container .info a {
  color: #fff;
}
.header.dark .container .info .langBlock .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header.dark .container .info .langBlock .btn.active {
  background-color: var(--accent);
}
.header.dark .container .info .fbLink svg path {
  fill: #fff;
}
.header.dark .container .info .fbLink:hover svg path {
  fill: var(--accent);
}
.header.dark .container .headerNav a {
  color: #fff;
}
.header.dark .container .headerNav a::after {
  background-color: #fff;
}
.header.dark .container .headerNav a:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  .header .container {
    flex-wrap: nowrap;
    gap: 30px;
    height: auto;
  }
  .header .container .info {
    margin-bottom: 0;
    order: 1;
    align-self: auto;
  }
  .header .container .logoBlock {
    order: 2;
  }
  .header .container .headerNav {
    order: 3;
    align-self: auto;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0;
    margin-bottom: 30px;
  }
  .header .container {
    gap: 0;
  }
  .header .container .info {
    justify-content: space-between;
    background-color: var(--grey-bg);
    padding: 10px 15px;
    height: 45px;
    width: 100%;
  }
  .header .container .info .separator {
    display: none;
  }
  .header .container .info .address {
    display: none;
  }
  .header .container .info .fbLink {
    display: none;
  }
  .header .container .logoBlock {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header .container .logoBlock .logo svg {
    height: 32px;
    width: 69px;
  }
  .header .container .logoBlock .logo .slash {
    height: 26px;
  }
  .header .container .logoBlock .logo .pageName {
    font-size: 20px;
  }
  .header .container .logoBlock .burger {
    display: block;
  }
  .header .container .logoBlock .burger:active {
    background-color: var(--grey-separator);
  }
  .header .headerNav {
    display: none;
  }
  .header .headerNav a {
    color: var(--active-regular) !important;
  }
  .header.dark .container .info {
    background-color: rgba(255, 255, 255, 0.2);
  }
}/*# sourceMappingURL=header.css.map */