@import "./variables.css";
@import "./header.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--active-regular);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

input,
textarea,
button,
select {
  font: inherit;
}

.section {
  padding-left: var(--section-padding-y);
  padding-right: var(--section-padding-y);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.container.small {
  max-width: var(--small-container-width);
}

.title {
  color: var(--main-regular);
  font-weight: 700;
  line-height: normal;
}

.title.h1 {
  background: var(--gradient-red-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 38px;
}

.title.h2 {
  font-size: 30px;
}

.title.h3 {
  font-size: 22px;
}

.title.h3.caps {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title.h4 {
  font-size: 16px;
}

/* ---------------------------------------------------- */

.section.dark {
  position: relative;
  background: var(--gradient-supersoft);
  border-radius: 0 0 12px 12px;
  margin-bottom: 80px;
  padding-bottom: 60px;
}

.section.dark::before {
  content: "";
  background-color: #cacadb;
  width: 98%;
  height: 10px;
  position: absolute;
  left: 1%;
  bottom: -10px;
  border-radius: 0 0 12px 12px;
}

.section.dark::after {
  content: "";
  background-color: #e7e7f2;
  width: 96%;
  height: 10px;
  position: absolute;
  left: 2%;
  bottom: -20px;
  border-radius: 0 0 12px 12px;
}

.heading .title {
  color: #fff;
  z-index: 2;
}

.pills {
  justify-content: start;
  /* align-items: center; */
  gap: 60px;
  margin-bottom: 60px;
}

.pills .linearSeparator {
  background-color: #fff5;
}

.pills .linearSeparator.horizontal {
  display: none;
}

.pills .pillsTab {
  align-items: end;
  text-align: right;
  gap: 30px;
  width: clamp(375px, 25%, 400px);
}

.pills .pillsTab .title {
  color: var(--grey-text);
  font-size: 38px;
  white-space: nowrap;
}

.pills .pillsTab .title:hover {
  cursor: pointer;
  color: var(--accent);
}

.pills .pillsTab .title.active {
  cursor: default;
  background: var(--gradient-red-text-reversed);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.pills .tabContent {
  /* position: relative; */
  align-self: center;
  width: 100%;
  /* flex-grow: 1; */
}

.pills .tabContent .pillsItem {
  /* position: absolute; */
  /* top: 0; */
  gap: 30px;
}

.pills .tabContent .pillsItem.active {
  display: flex;
}

.pills .tabContent .pillsItem .title {
  color: #fff;
}

.pills .tabContent .pillsItem .text {
  color: #fff;
  font-size: 19px;
  line-height: 30px;
}

.services .arrowLink {
  margin-bottom: 10px;
}

.services > .title {
  margin-bottom: 60px;
}

.services .cardBox {
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

/* --------------------------------------------*/

.cardSlider {
  width: 100%;
  margin-bottom: 60px;
}

.cardSlider .hCard {
  /* width: 100%; */
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--grey-bg);
  border-radius: 12px;
}

.cardSlider .hCard .arrowLink {
  margin-bottom: 5px;
}

.cardSlider .hCard img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}

.cardSlider .hCard .cardInfo {
  padding: 30px;
}

.cardSlider .hCard .cardInfo .title {
  margin-bottom: 30px;
}

.cardSlider .hCard .cardInfo .by-line .name {
  color: var(--grey-text);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}

.cardSlider .hCard .cardInfo .by-line .position {
  color: var(--grey-text);
  font-size: 14px;
  line-height: 22px;
}

.cardSlider .slick-dots {
  bottom: -48px;
}

.cardSlider .slick-dots li button::before {
  font-size: 16px;
  color: var(--active-regular);
  opacity: 0.2;
}

.cardSlider .slick-dots li.slick-active button::before {
  opacity: 1;
  color: var(--active-regular);
}

.slick-initialized .slick-slide {
  display: flex;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */

@media (max-width: 768px) {
  .section {
    padding-left: calc(var(--section-padding-y) / 2);
    padding-right: calc(var(--section-padding-y) / 2);
  }
}
