:root {
  --main-regular: #323264;
  --main-alt: #46466e;
  --main-soft: #686887;

  --accent: #f0145a;

  --active-regular: #24a3ff;
  --active-hover: #0085ff;
  --active-active: #006ccf;

  --grey-bg: #f5f5fa;
  --grey-bg-alt: #ededf7;
  --grey-separator: #e6e6f0;
  --grey-text: #b3b3ba;

  --gradient-regular: linear-gradient(
    129deg,
    #323264 0%,
    #323264 73.96%,
    #a54b5f 100%
  );
  --gradient-soft: linear-gradient(
    42deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  --gradient-red: linear-gradient(323deg, #f0145a 6.7%, #693264 70.36%);
  --gradient-supersoft: linear-gradient(
    229deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  --gradient-red-text: linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%);

  --container-width: 1600px;
  --small-container-width: 1360px;
  --basic-space: 1rem;
  --section-padding-y: 60px;
}
