:root {
  --big-gap: 60px;
}

.contact .container {
  justify-content: space-between;
  gap: var(--big-gap);
  margin-bottom: 60px;
}

.contact .container .contactInfo {
  width: calc(50% - var(--big-gap) / 2);
}

.contactInfo {
  gap: 30px;
}

.contactInfo .text {
  font-size: 21px;
  line-height: 30px;
  color: var(--main-regular);
}

.contactInfo .address {
  align-self: start;
}

.contactInfo .tel a {
  color: var(--main-regular);
  margin-bottom: 15px;
}

.contactInfo .fbLink {
  align-items: center;
  gap: 10px;
  transition: none;
}

.contactInfo .fbBlock {
  align-self: start;
}

.contactInfo .fbLink .linkText {
  width: 105px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
}

.contactInfo .fbLink:hover svg path {
  fill: var(--accent);
}

.contact .contactForm {
  width: calc(50% - var(--big-gap) / 2);
}

@media (max-width: 1023px) {
  .contact .container {
    flex-direction: column;
  }

  .contact .container .contactInfo {
    width: 100%;
  }

  .contact .container .contactForm {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .contact .container {
    gap: 30px;
    margin-bottom: 30px;
  }
}
